.images-container{
    justify-content: center;
    display: flex;
}
.vertical-image img{
    height: 403px;
}
.horizontal-image{
    display: flex;
    flex-direction: column;
}
.last-image{
    margin-top: -4px;
}
.images-container img{
    box-shadow: 0 0 3px 2px #00000042;
    margin: 3px 3px 0 0;
}